<div class="contact-right">
  <h2>Search Property</h2>

  	<%= form_tag search_results_properties_path, :method => 'get' do %>
	    <div>
	      <span>Area</span>
	      <%= text_field_tag :area, params[:area] %>
	    </div>
	    <div>
	      <span>Postal Code</span>
	      <%= text_field_tag :postal_code, params[:postal_code] %>
	    </div>
	    <div>
	      <span>City</span>
	      <%= text_field_tag :city, params[:city] %>
	    </div>
	    <div>
	      <span>Province</span>
	      <%= text_field_tag :province, params[:province] %>
	    </div>
	    <div>
	      <span>Type</span>
	      <%#= text_field_tag :prop_type, params[:prop_type] %>
	      <%= select_tag :property_type, options_for_select([ "Residential", "Condo", "Commercial" ]) %>
	    </div>
	    <div>
	      <span>Size</span>
	      <%= text_field_tag :size, params[:size] %>
	    </div>
	    <div>
	      <span>Min. Price</span>
	      <%= text_field_tag :min_price, params[:min_price] %>
	    </div>
	    <div>
	      <span>Max. Price</span>
	      <%= text_field_tag :max_price, params[:max_price] %>
	    </div>
	    <div>
	      <span>Age</span>
	      <%= text_field_tag :age, params[:age] %>
	    </div>
	    <%= submit_tag "Search", :name => nil %>
	<% end %>
  <br>
  <br>
</div>